/*
MY COLOR PALETTE
Color 1 - #a63d40
Color 2 - #f2f4f3
Color 3 - #717568
Color 4 - #101935
Color 5 - #5C86AD

FONTS
font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

@media {
    
    #topper {
        background-image: url(messi-rosario-home.jpg);
        background-position: center;
        background-size: cover;
    }
    
    h1 {
        color: #101935;
        margin: 70% 10% 5% 10%;
        background-color: rgba(255,255,255,0.5);
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        font-family: 'Kanit', sans-serif;
    }
    
    h2 {
        color: #5C86AD;
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
    }   
    
    #headcaption {
        text-align: center;
        font-style: italic;
        font-family: 'Quicksand', sans-serif;
    }
    
    #byline {
        text-align: center;
        color: #101935;
        font-size: 22px; 
        font-family: 'Kanit', sans-serif;
        margin: 10px 0px 0px 0px; 
    }
    
    #date {
        text-align: center;
        margin: 4px 0px 50px 0px;
        font-size: 18px;
        color: #5C86AD;
        font-style: italic;
    }
    
    #dateline{
        color: #5C86AD;
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
        float: left;
        margin-right: 10px; 
    }
    
    p {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        padding: 0px 20px 0px 20px;
    }
    
    #pullquote {
        font-size: 35px;
        color: #101935;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin: 20px 0px 20px 15px;
        padding: 10px 0px 10px 0px;
        font-family: 'Quicksand', sans-serif;
        border-top-style: dashed;
        border-bottom-style: dashed;
        border-color: #5C86AD;
        width: 100%;
        float: right;
    }
    
    .bodyphotos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    .captions {
        font-style: italic;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
}


@media (min-width:992px) {
   
    h1 {
        font-size: 60px;
    }
    
    #headcaption {
    text-align: right;
    }
    
    #pullquote {
         width: 50%;
    }
    
}