/*
MY COLOR PALETTE
Color 1 - #0d1821
Color 2 - #344966
Color 3 - #b4cded
Color 4 - #f0f4ef
Color 5 - #bfcc94
*/

@media {
    
.light {
    background-color:#bfcc94;
}

#footer {
    background-color:#bfcc94;
    color:#344966;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

#headshot {
    width:300px;
    padding:0px;
    margin:20px 0px 40px 40px;
    border-radius:500px;
    border: 5px solid #f0f4ef;
}

h1 {
    color: #344966;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    font-size: 50px
}

h2 {
    color: #344966;
    font-family: 'Consolas', sans-serif;
    text-align: center;
    margin: auto;
    line-height: 2;
    font-size: 40px;
}

#button {
    background-color:#b4cded;
    border:0px;
    border-radius: 20px;
    padding:10px 30px 10px 30px;
    display: block;
    margin: 10px auto;
}

#button a {
    color:#344966;
    text-decoration: none;
    line-height: 2;
}

.nav-link {
    color:#344966;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    text-align: center;
}

.dark {
    background-color: #b4cded;
}

h3 {
    color:#344966;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#title {
    color:#0d1821;
    font-family:'Consolas', sans-serif;
    font-weight: bold;
    padding-top: 25px;
}

#text {
    color:#0d1821;
    font-family:'Consolas', sans-serif;
}

#skill {
    color:#0d1821;
    font-family:'Consolas', sans-serif;
    padding-top: 25px;
}

.heads {
    display: block;
    margin: auto;
}

#experience {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
}

#skills {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
}

#education {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.indent {
    text-indent: 15px;
    font-style: italic;
}
    
}

@media (min-width:576px) {
    #headshot {
        margin:20px 0px 20px 40px;
    }
    
    #button {
        display: block;
        margin: auto;
}
}